
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');
/* shared styles */
header, main{
    font-family: 'Mulish', sans-serif;
    padding: 100px 50px 0px 80px;

}
.description{
    color: rgba(19, 19, 24, 0.70);
    
    font-size: 16px;
    font-weight: 400;
}
.btn-primary{
    border-radius: 8px;
    background: #FF5400;
    border-style: none;
    color: white;
}
/* banner styling */
.banner{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%)
    ,url(Images/Group\ 13\ \(1\)\ \(1\).png);
    border-radius: 16px;
    background-repeat: no-repeat;
    width:1100px;
    height: 500px;
    flex-shrink: 0;
    margin-top: 100px;
    
    /* padding: 20px 50px 10px 50px; */
   
}
.banner-details{ 
    text-align: center;
    padding: 30px 50px 20px 50px;
}
.banner-title{
    
    color: #FFF;
    font-size: 64px;
    font-weight: 700;
}

#ban-des{
    color: #FFF;
    text-align: center;

}
.input-field{
    margin-left: 100px;
    padding:10px 10px 10px 20px;
    display:flex;
    justify-content: space-between;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    width: 800px;
}
#s{
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 300;
    border-radius: 10px;
    padding-left: 15px;
    width: 199px;
    height: 60px;
    
    
       
}
#g{
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 300;
    border-radius: 10px;
    padding-left: 15px;
    width: 178px;
    height: 54px;

}
 #ig{
    padding-left: 20px;
    padding-top: 10px;
} 
.btn{
    
    display: inline-flex;
    gap: 5px;
    padding:5px 8px 5px 8px;
    border-radius: 10px;
    background: #FF5400;
    border-style: none;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    width:194px ;
    height: 60px;
}
/* popular-tour section styles */
.tour-title{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.des{
    text-align: center;
}

#read{
    padding: 10px  20px;
    text-align: center;
    font-size: 20px;
    font-weight: 800;   
}
#mountain{
    padding-top: 10px;
    padding-left: 20px;
}  

.popular-tour{
    
    margin-top: 30px;
    width: 1100px;
    display:flex;
    justify-content: space-between;
}
/* choose ur des section styles */
#maldives, #indonesia{
    width:  540px;
}
#srilanka{
    width: 320px;
    height: 280px;
}
#north-america{
    width: 480px;
    height: 280px;

}
#bangladesh{
    width: 400px;
    height: 300px;   
}
.places-row1{
    display: flex;
    flex: 1;
   
}

.places-row1 ,.places-row2, .places-row3{
    display:inline-flex;
    gap: 10px;
    padding-top: 10px;

}

/* newsletter part styles */
#nes-t{
    font-size: 24px;
}
.newsletter{
    
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    
}
.box{
    border:2px solid #FF5400;
    padding: 20px 20px 30px 20px;
    height: 470px;
}
.badge{
    margin-top: -8px;
    padding-left: 380px;
    width: 353px;
    transform: rotate(-35deg);
}
#bdg{
    margin-left: 165px;
    font-size: 20px;
    padding: 10px 15px;
    width: 217px;
    height: 120px;
    font-weight: 600;
}
#mountain2{
    padding-left: 70px;
    width: 650px;
    height: 500px;
}
#n-inp{
    padding: 16px 145px 16px 10px;
}
.inp{
    display: grid;
    grid-template-columns: auto;
    row-gap: 10px;

}




/* footer styles */
footer{
    margin-top: 10px;
    padding-top: 30px;
    background-color: rgba(19, 19, 24, 0.05);
    
}
.foot{
    padding-left: 450px;
    
}
.icon{
    height:34px;
    width: 14px;
}
.f-head{
    color: var(--Dark-01, #131318);
    font-size: 32px;
    font-weight: 800; 
    text-align: center;  
    padding-left: 40px;
}
#fun{
    color: #FF5400;
}
#f-des{
    text-align: center;
    padding: 0px 40px 0px 40px;
}
.foot-title{
    display: flex;
    list-style: none;
    

}
#im{
    width: 14px;
    height: 14px;
}
.social-icons{
    list-style: none;
    display: flex;
    gap: 30px;
    padding-top: 10px;
    padding-left: 550px;
}
.copyright{
    text-align: center;
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-bottom: 30px;
}
.line{
    margin-left: 30px;
    margin-right: 30px;

}

/* why-choose-use section styles */
.why-choose-us{
    margin-top: 70px;
    margin-bottom: 70px;
}
.card{
    padding-top: 30px;
}
.card-hd{
    text-align: center;
}
#card-icn{
    width: 45px;
    height: 45px;
    padding-top: 20px;
    padding-bottom: 20px;

}
.card-first-row, .card-first-row2, .card-second-row{
    border-radius: 16px;
    padding: 30px;
    width: 550px;
    height: 280px;
}
.card-first-row{
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.card-first-row2{
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);

}
.card-second-row{
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin:30px 280px 30px ; 
}
.card-prime{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
/* responsive media query */
@media screen and (max-width: 600px) {
    main, header{
        padding-left: 20px;
        padding-right: 10px;
    }
    .banner{
        width: 470px;
       
    }
    .banner-details{
        padding: 0px 50px;


    }
    .banner-title{
        font-size: 22px;
    }
    .banner-description{
        font-size: 14px;
    }
    .input-field{
        padding-left:50px;
        padding-right: 50px;
        flex-direction: column;
        gap: 7px;
        width:max-content;
    }
    .popular-tour{
        flex-direction: column;
    }
    .tour-details{
        max-width: 500px;
    }
    .places-row1, .places-row2, .places-row3{
        flex-direction: column;
    }
    #mountain2, #maldives, #north-america, #srilanka, #banderban, #kashmir, 
    #indonesia , #bangladesh {
        width: 550px;
        height: 300px;
    }
    
    .foot, .social-icons{
        padding-left: 200px;
    }
    .newsletter{
        flex-direction: column;
        gap: 30px;

    }
    .box{
        height: 300px;
    }
    .box2{
        width:560px ;
        height:300px ;
    }
    .footer{
        padding-top: 20px;
    }
    #mountain2{
        padding-left:2px
    }
    .badge{
        margin-left:-140px;
        width: 240px;
        height: 200px;
    }
    .mountain{
        padding-left:-20px ;
    }
    .card-prime{
        flex-direction: column;
    }
    .card-first-row, .card-first-row2, .card-second-row{
        box-sizing: border-box;
    }
    .card-second-row{
        margin-left: -4px;
    }
}